{% if header_items %}
<div class="gcomp-social-header" id="gcompSocialHeader">
  <button type="button" class="gcomp-social-header-btn" id="gcompSocialHeaderBtn" aria-label="Social networks">
    <i class="fa fa-comments"></i>
  </button>
  <div class="gcomp-social-popup" id="gcompSocialHeaderPopup">
    {% for item in header_items %}
    {% if item.type == 'callback' %}
    <a href="javascript:;" onclick="get_modal_callbacking();" class="gcomp-social-row">
      <span class="gcomp-social-ico" style="background:{{ item.color }}"><i class="fa {{ item.icon }}"></i></span>
      <span class="gcomp-social-lbl">{{ item.label }}</span>
    </a>
    {% else %}
    <a href="{{ item.href }}" class="gcomp-social-row" target="_blank" rel="noopener">
      <span class="gcomp-social-ico" style="background:{{ item.color }}"><i class="fa {{ item.icon }}"></i></span>
      <span class="gcomp-social-lbl">{{ item.label }}</span>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if floating_items %}
<div class="gcomp-social-float" id="gcompSocialFloat">
  <div class="gcomp-social-list" id="gcompSocialFloatList" style="display:none">
    {% for item in floating_items %}
    {% if item.type == 'callback' %}
    <a href="javascript:;" onclick="get_modal_callbacking();" class="gcomp-social-pill">
      <span class="gcomp-social-ico" style="background:{{ item.color }}"><i class="fa {{ item.icon }}"></i></span>
      <span class="gcomp-social-lbl">{{ item.label }}</span>
    </a>
    {% else %}
    <a href="{{ item.href }}" class="gcomp-social-pill" target="_blank" rel="noopener">
      <span class="gcomp-social-ico" style="background:{{ item.color }}"><i class="fa {{ item.icon }}"></i></span>
      <span class="gcomp-social-lbl">{{ item.label }}</span>
    </a>
    {% endif %}
    {% endfor %}
  </div>
  <button type="button" class="gcomp-social-toggle" id="gcompSocialFloatBtn" aria-label="Social">
    <i class="fa fa-comments"></i>
  </button>
</div>
{% endif %}

<link rel="stylesheet" href="catalog/view/javascript/gcomp_social/social.css">
<script src="catalog/view/javascript/gcomp_social/social.js"></script>
